body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  background: black;

  font-family: 'Orbitron', sans-serif;
   background: url('../IMG/detsky3.jpg') no-repeat center center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
  }
main {
  flex: 1 0 auto;
}
.navbar-fixed {
  color: black;
}